/*
* 初始化变量
*/
$nav-color: #F90;
$unit: 1rem/37.5!global; //单位转换
/*
* 函数调用
*/
@mixin translate($x, $y) {
  transform:translate($x,$y);
  -ms-transform:translate($x,$y); 	/* IE 9 */
  -moz-transform:translate($x,$y); 	/* Firefox */
  -webkit-transform:translate($x,$y); /* Safari 和 Chrome */
  -o-transform:translate($x,$y); 	/* Opera */
}

@mixin transition($value) {
  transition: $value;
  -moz-transition: $value; /* Firefox 4 */
  -webkit-transition: $value; /* Safari 和 Chrome */
  -o-transition: $value; /* Opera */
}